#Making CombatTrackers's isInCombat public because they removed the helper method for some reason
public net.minecraft.world.damagesource.CombatTracker inCombat
public net.minecraft.world.entity.LivingEntity attackStrengthTicker

public net.minecraft.world.item.Item components
public net.minecraft.world.item.Item$Properties COMPONENT_INTERNER